.body {
  width: 1480px;
  height: 1282px;
}

.big-container {
  width: 1282px;
  margin-left: 100px;
}

.header-logo {
  width: 1283px;
  height: 189px;
  margin-top: 63px;
}

.header-logo-container {
  width: 334px;
  height: 79px;
  margin-left: 0px;
  margin-top: 0px;
}

.header-logo-container-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
}

.header-logo-text-color {
  color: #000000;
}

.header-logo-text-color-blu {
  color: #4bcaff;
}

.header-menu {
  background-color: #35444f;
  width: 1280px;
  height: 69px;
  margin-top: 40px;
  margin-left: 2px;
  display: flex;
}

.header-menu-list {
  width: 1200px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu-list .box {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.functional-programming {
  width: 331px;
  height: 69px;
}

.ramda {
  width: 153px;
  height: 69px;
}

.fantasy-land-spec {
  width: 284px;
  height: 69px;
}

.node-for-all {
  width: 221px;
  height: 69px;
}

.section-main {
  width: 1280px;
  height: 529px;
  margin-top: 49px;
  display: flex;
}

.aside-container {
  display: flex;
  width: 1280px;
  height: 529px;
}

.menu-left-container {
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-left-list {
  font-family: Roboto;
  font-size: 27px;
  font-weight: 400;
  line-height: 27px;
  color: #485863;
}

.menu-left-container ul li {
  margin: 50px;
}

.right-container-img {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background-image: url("https://s3-alpha-sig.figma.com/img/de44/45f5/5904c44ef71b5c758fd02fab8e0b955a?Expires=1677456000&Signature=KSXJxhpH5Y0jmwrtxviA3nDFYiE32FxQXp5H3fl3onPebFDYkbkeETX~2ZOuzmCcMDsJ5mk61heCSzjiVWxFQ2RfDuQD0ZptqxuzPJbUeno~oiEOLBZT7XLfzGnyp5Goa1k0AyQLYHXrq1fIudk5S-MUzy5YvmK-PN6-qONjreMh0EM21iWF5BDzlThWBA~s4mzjSBfoL88hJUrA5LMQyJ2UoPbv7LSC2ZugPvBTHJ6qGM5KkU77CsE86xu6sy8Gmpfvbe6Ycttwz5IvywZ1dnmB61I2BxJMxZ2K5aOcPArIw9FxUa3N1HpOqqQcrrcfsJIwH67uiCapKFgT2DkC~A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  width: 320px;
  height: 381px;
  border: 1px solid #000000;
}

.right-container-text {
  width: 885px;
  height: 120px;
  margin-left: 493px;
  margin-top: 37px;
  font-family: Roboto;
  font-weight: 400px;
  font-size: 18px;
  line-height: 24px;
}

.right-container-text-rus {
  width: 885px;
  height: 109px;
  margin-left: 493px;
  margin-top: 37px;
  font-family: Roboto;
  font-weight: 400px;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu {
  width: 1280px;
  height: 69px;
  margin-left: 100px;
  margin-top: 54px;
  background-color: #636e6b65;
  display: flex;
  align-items: center;
}

.footer-menu-list {
  width: 875px;
  height: 28px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-menu-list > li {
  color: #0c1927;
  font-family: Roboto;
  font-weight: 400px;
  font-size: 28px;
  line-height: 28px;
}

.footer-copyright {
  display: flex;
  margin-left: 125px;
}

.footer-menu-copyright {
  width: 200px;
  height: 69px;
  display: flex;
  align-items: center;
}

.footer-menu-copyright-text {
  font-family: Roboto;
  font-weight: 400px;
  font-size: 28px;
  line-height: 28px;
  color: #010101;
}
